<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Meta Tags -->
    <meta cha$et="UTF-8">
    <meta name="author" content="Kamran Mubarik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>E-Commerce Online Shop</title>
    <!-- Style Sheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/registerstyle.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
<h2>Registration Form</h2>
<form action="/register" method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="firstname">First Name:</label><br>
    <input type="text" id="firstname" name="firstname" required><br>
    <label for="lastname">Last Name:</label><br>
    <input type="text" id="lastname" name="lastname" required><br>
    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country" required><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" required><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" required><br>
    <label for="tel">Telephone:</label><br>
    <input type="tel" id="tel" name="tel" required><br>
    <label for="mobile">Mobile:</label><br>
    <input type="tel" id="mobile" name="mobile" required><br>
    <input type="submit" value="Register">
</form>
</body>

</html>